/.vscode
/Algoritmos/.vscode
/Assistente Virtual/.vscode
/Batalha Naval/.vscode
/Cadastro de Usuarios/.vscode
/Calculo Estatistico/.vscode
/Jogo da Cobrinha/.vscode
/Jogo da Forca/.vscode
/Jogo da Velha/.vscode
/Jogo de Adivinhacao/.vscode
/Manipulacao de Strings/.vscode
/Relogio e Calendario/.vscode
/Sistema Bancario/.vscode
/Sorteador Automatico/.vscode
