/.vscode
/Algoritmos/.vscode
/Assistente Virtual/.vscode
/Cadastro de Usuários/.vscode
/Cálculo Estatístico/.vscode
/Jogo da Cobrinha/.vscode
/Jogo da Forca/.vscode
/Jogo da Velha/.vscode
/Jogo de Adivinhação/.vscode
/Manipulação de Strings/.vscode
/Relógio e Calendário/.vscode
/Sistema Bancário/.vscode
/Sorteador Automático/.vscode